body {
  background: white;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 20px;
}

.screenshot {
  height: 0;
}

.screenshot img {
  height: 0;
}

.header {
  background-color: #eee;
  text-align: center;
  padding: 20px 0;
}

.header-wrapper {
  width: 300px;
  margin: auto;
}

.imaygou {
  text-align: center;
}

.imaygou img {
  width: 250px;
  margin-bottom: 20px;
}

.slogan-main {
  font-size: 1.8em;
  font-weight: bold;
  color: #b50759;
}

.slogan-sub {
  color: #b50759;
  font-size: 0.9em;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.section {
  margin: 30px auto;
  padding: 0 10px;
}

.section .title {
  color: #b50759;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.section .section-logo {
  text-align: center;
}

.section .logo {
  width: 64px;
  height: 64px;
  margin-bottom: -10px;
}

.section .about-us {
  width: 82px;
  height: 34;
}

.recruit {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 0 5px;
}

.section-qrcode {
  text-align: center;
}

.section a {
  color: #b50759;
}

.qrcode {
  width: 128px;
  height: 128px;
  margin-bottom: 50px;
}

